{% macro display_post(post, current_user, title) -%}
    {% if title %}
    <h3><a class="post-title" href="{{ url_for("view_post", post_id=post.id) }}">{{ post.title }}</a></h3>
    {% endif %}
    <span class="byline">posted <span class="date">{{ post.creation_time.strftime("%Y-%m-%d %H:%M") }}</span> by {{ post.author }}</span>
    {% if post.author == current_user.id %}
    <a class="action" href="{{ url_for("edit_post", post_id=post.id) }}">Edit</a>
    <a class="action" href="{{ url_for("delete_post", post_id=post.id) }}">Delete</a>
    {% endif %}
    {% if post.creation_time.strftime("%Y%m%d%H%M") != post.edit_time.strftime("%Y%m%d%H%M") %}(edited <span class="date">{{ post.edit_time.strftime("%Y-%m-%d %H:%M") }}</span>){% endif %}</span>
    <p class="post-content">{{ post.content }}</p>
{%- endmacro %}
