{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New post{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" name="title" id="label" placeholder="untitled post"/>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <span id="author">{{ current_user.id }}</span>
    </div>
    <div class="form-group">
        <label for="content">Blog post</label>
        <textarea class="form-control blog-edit" name="content" placeholder="type blog post here"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" name="submit" value="Submit Post">
</form>
{% endblock %}
