{% extends 'base.html' %}
{% import 'common.html' as common %}

{% block header %}
    <h1>{% block title %}Blog{% endblock %}</h1>
    {{ project_name }} is a blog anyone can contribute to. To get started, click "Log In" in the top-right corner. After you register, click "New Post" at the top!
{% endblock %}

{% block content %}
{% for post in posts %}
{% if not post.deleted %}
    <div class="post">
    {{ common.display_post(post, current_user, True) }}
    {% if not loop.last %}
    </div>
    {% endif %}
{% endif %}
{% endfor %}
{% endblock %}
